body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	color: Black;
	background-color: White;
}
h1,h2,h3,h4,h5,h6,th { font-family: 'PT Sans Caption', sans-serif; }
code,kbd,samp { font-family: 'PT Mono', monospace; background-color: LightGray; }
pre { 
	margin: 0;
	padding: 0;
	overflow: auto;
	white-space: nowrap;
	background-color: White;
}
pre>code,pre>kbd,pre>samp { background-color: White; }
dfn {
	font-style: normal;
	font-weight: bold;
	background-color: LightSteelBlue;
}
a { color: SteelBlue; text-decoration: none; }
a:hover { text-decoration: underline; }
figure {
	border: thin solid Black;
	margin: 0;
	padding: 0.5em;
	line-height: 1;
}
ul { list-style-type: circle; }
table { 
	margin: 0;
	padding: 0;
	border: thin solid Black; 
	border-collapse: collapse;
}
table th,td {
	margin: 0;
	padding: 0.25em 0.5em 0.25em 0.5em;
	border: thin solid Black; 
}
body>main>article nav {
	display: inline-block;
	border: thin solid Black;
	padding: 1em;
}
body>main>article nav ul {
	margin: 0;
	padding-left: 1em;
	list-style-type: none;
}
body>main>article nav ul li {
	padding: 0.25em;
}
body>header {
	padding: 3em;
	font-family: 'PT Sans Caption', sans-serif;
	background-color: LightGray;
}
body>header hr { border: thin solid White; }
body>header>nav>ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
body>header>nav>ul>li>a.current {
	color: White;
	background-color: DimGray;
}
body>header>nav>ul>li:hover,
body>header>nav>ul>li:active {
	background-color: SteelBlue;
}
body>header>nav>ul>li>a {
	display: block;
	padding: 0.65em;
}
body>header>nav>ul>li>a:hover,
body>header>nav>ul>li>a:active {
	color: White;
	background-color: SteelBlue;
	text-decoration: none;
}
body>main {
	display: block;
	padding: 3em;
	line-height: 1.5;
}
@media screen and (min-width: 900px) {
	body>header {
		box-sizing: border-box;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: 300px;
		overflow: auto;
	}
	body>main { margin-left: 300px; }
}
@media print {
	body>header { display: none; }
	body>main>article nav { display: none; }
	body>main {
		margin: 0;
		padding: 0;
	}
	figure { border: medium solid Gray; page-break-inside: avoid; }
	table { border: medium solid Gray; page-break-inside: avoid; }
	table th,td { border: medium solid Gray; }
	pre { white-space: normal; }
	@page { margin: 1in; }
}

