@import url("https://fonts.googleapis.com/css?family=PT+Sans+Caption");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=PT+Mono");
@import "normalize.css";
body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: normal;
	font-style: normal;
	color: black;
	background-color: white;
}
h1,h2,h3,h4,h5,h6,th {
	font-family: 'PT Sans Caption', sans-serif;
}
a { color: SteelBlue; text-decoration: none; }
a:hover { text-decoration: underline; }
code,kbd,samp,pre,tt {
	font-family: 'PT Mono', monospace;
	background-color: WhiteSmoke;
	white-space: pre-wrap;
}
pre {
	margin: 0;
	padding: 0.5em;
	border: thin solid;
	line-height: 1;
}
ul { list-style-type: circle; }
table { 
	margin: 0;
	padding: 0;
	border: thin solid; 
	border-collapse: collapse;
}
table th,td {
	margin: 0;
	padding: 0.25em;
	border: thin solid; 
}
.html-example {
	border: thin solid;
	line-height: 1;
	margin: 0;
	padding: 0.5em;
}
body>header {
	display: block;
	margin: 0;
	padding: 5% 5% 5% 5%;
	width: 90%;
	background-color: LightGray;
}
body>header>h1 {
	margin: 0;
	padding: 0.5em 0 0.5em 0;
}
body>header>hr {
	color: White;
	border: thin solid;
}
body>header>nav>ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
body>header>nav>ul>li {
	padding: 1em 0 1em 0;
	font-size: large;
	font-weight: normal;
	font-family: 'PT Sans Caption', sans-serif;
}
body>main {
	display: block;
	margin: 0;
	padding: 5% 5% 5% 5%;
	width: 90%;
	line-height: 1.5;
}
@media print {
	body>header {
		display: none;
	}
}
@media screen and (min-width: 800px) {
	body>header {
		top: 0;
		bottom: 0;
		left: 0;
		width: 20%;
		position: fixed;
		overflow: auto;
	}
	body>main {
		margin: 0 0 0 30%;
		width: 60%;
		position: absolute;
	}
}
